*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #FFFAF0;
}

.navegacion{
    background-color: #B0B689;
    padding: 4px;
}

/*HERO SECCION*/

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 48px);
    background: linear-gradient(rgba(0, 0, 0, 0.485),rgba(0, 0, 0, 0.542)) ,url(./imagenes/percheros.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1{
    color: #ececec;
    font-size: 4rem;
}

.hero p{
    color: #ececec;
    font-size: 1rem;
}

.ver-carrito {
    cursor: pointer;
    padding: 2px;
}

/*productos*/

.tienda-contenido{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 30px;
    padding: 10px;
}

.card{
    box-shadow: 0px 1px 10px rgba( 0, 0, 0, 0.2 );
    background-color:#daddca;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card img{
    width: 100%;
    height: 260px;
}

.precio{
    font-size: 18px;
}

.card button{
    border: none;
    background-color: #8e936f;
    padding: 12px;
}

.card button:hover{
    background-color: #ececec;
    color:#6C7246;
}


/*modal seccion*/
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 82vh;
    color: #fff;
    background-color:#E9EDC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  
  .modal-header {
    display: flex;
    justify-content:space-around;
    background-color:#60653E;
    color: #fff;
    width: 100%;
  }
  
  .modal-header-button {
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
  }
  
  .modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 20px;
  }
  
  .modal-container > div > img {
    height: 200px;
    width: 200px;
  }

  .carrito-letra{
    color: black;
    margin: 10px;
  }
  
  .total-carrito {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
    color: black;
  }

  .eliminar-producto{
    cursor: pointer;
  }

  /*contador del carrito*/
  .cantidad-carrito{
    background-color:#653e3e;
    color: white;
    border-radius: 40%;
    font-size: 12px;
    display: none;
    position: absolute;
    padding: 4px;
    right: 14px;
    top: 37px;
  }

  /*Footer seccion*/
.footer{
    background-color:#B0B689;
    text-align: center;
}